{% extends "accounts/account_profile.html" %}
{% load mezzanine_tags rating_tags forum_tags future accounts_tags %}
{% block profile_content %}
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="tab-body" style="padding-bottom: 0;">
                <h3 class="title title-lg">{{ profile_user.get_full_name }}</h3>
                <p class="mb-20">Темы пользователя {{ profile_user.get_full_name }}</p>
                <ul class="list-check">
                    {% for topic in object_list %}
                        <li>
                            <i class="fa fa-pencil"></i>
                            <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
                            {% if profile_user == request.user %} |
                                <a href="{% url "topic_edit" topic.id %}">
                                    <b>Правка</b>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% pagination_for object_list %}
            </div>
        </div>
    </div>
{% endblock %}
