{% extends "accounts/account_profile.html" %}
{% load i18n future mezzanine_tags accounts_tags comments static postman_tags %}
{% block meta_title %}
    {% with profile_user=user %}
        {{ profile_user|username_or:"get_full_name" }}
    {% endwith %}
{% endblock %}
{% block title %}
    {% trans "Messaging" %}
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    <link type="text/css" media="all" rel="stylesheet" href="{% static 'postman/css/postman.css' %}" />
{% endblock %}
{% block breadcrumb_menu %}
    {% with profile_user=user %}
    {{ block.super }}
    {% endwith %}
{% endblock %}
{% block base %}
    {% with profile_user=user %}
    {{ block.super }}
    {% endwith %}
{% endblock %}
{% block profile_content %}
    {% block postman_content %}
    {% endblock %}
{% endblock %}