{% extends "postman/base.html" %}
{% load i18n postman_tags widget_tweaks %}
{% block postman_content %}
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="tab-body" style="padding-bottom: 0;" id="postman">
                <h3 class="title title-lg">
                    {% if pm_messages|length > 1 %}
                        {% trans "Conversation" %}
                    {% else %}
                        {% trans "Message" %}
                    {% endif %}
                </h3>
                <ol>
                    {% for message in pm_messages %}
                        <li class="pm_message{% if message.is_pending %} pm_pending{% endif %}{% if message.is_rejected %} pm_rejected{% endif %}{% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} pm_archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} pm_deleted{% endif %}{% if message.recipient == user and not message.read_at %} pm_unread{% endif %} comment" >
                            <div class="comment-body bb pm_header">
                                <div class="comment-text">
                                    <div class="comment-author clearfix">
                                        <span class="link-author" style="outline: none;">
                                            <span class="pm_sender">{{ message.obfuscated_sender|or_me:user }}</span> &raquo;
                                            <span class="pm_recipient">{{ message.obfuscated_recipient|or_me:user }}</span>
                                        </span>
                                        <span class="comment-meta">
                                            <span class="comment-date">
                                                <span class="pm_date">{{ message.sent_at|date:"DATETIME_FORMAT"}}</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="comment-entry">
                                        <span class="pm_subject">{{ message.subject }}</span>
                                        {% if message.is_rejected %}
                                            <div class="pm_status">
                                                {% trans "Rejected" %}
                                                {% if message.moderation_reason %}
                                                    {% trans ":" %} {{ message.moderation_reason }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="pm_body">{{ message.body|linebreaksbr }}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if forloop.last %}
                            <form action="" method="post" class="sky-form">
                                <section>
                                    {% csrf_token %}
                                    <input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
                                    <a href="{{ next_url }}" class="btn btn-sm btn-base">{% trans "Back" %}</a>
                                    <span id="pm_buttons">
                                        <button type="submit" onclick="this.form.action='{% url 'postman:delete' %}?next={{ next_url|urlencode }}'" class="btn btn-sm btn-base">{% trans "Delete" %}</button>
                                        {% if not archived %}
                                            <button type="submit" onclick="this.form.action='{% url 'postman:archive' %}?next={{ next_url|urlencode }}'" class="btn btn-sm btn-base">{% trans "Archive" %}</button>
                                        {% endif %}
                                    </span>
                                    {% if reply_to_pk %}
                                        <a href="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" class="btn btn-sm btn-base">{% trans "Reply" %}</a>
                                    {% endif %}
                                </section>
                            </form>
                            {% if reply_to_pk %}
                                <hr />
                                <h2>{% trans 'Reply' %}</h2>
                                <form action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post" class="form-light">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" id="pm_reply">
                                                <label>Comment</label>
                                                {% render_field form.body class="form-control" placeholder="Write your comment here" rows="5" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-base btn-icon btn-send pull-right">
                                                <span>{% trans 'Reply' %}</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}