{% extends "accounts/account_profile.html" %}
{% load mezzanine_tags rating_tags forum_tags future accounts_tags %}
{% block profile_content %}
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="tab-body" style="padding-bottom: 0;">
                <h3 class="title title-lg">{{ profile_user.get_full_name }}</h3>
                <p class="mb-20">Темы пользователя {{ profile_user.get_full_name }}</p>
                <ul class="list-check">
                    {% if profile_user == request.user %}
                        {% if drafts %}
                            {% for blog in drafts %}
                                <li>
                                    <i class="fa fa-pencil"></i>
                                    {{ blog.title }} (Черновик) |
                                    <a href="{% url "blog_edit" blog.id %}">
                                        <b>Правка</b>
                                    </a>
                                </li>
                            {% endfor %}
                            <hr />
                        {% endif %}
                    {% endif %}
                    {% for blog in object_list %}
                        <li>
                            <i class="fa fa-pencil"></i>
                            <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                            {% if profile_user == request.user %} |
                                <a href="{% url "blog_edit" blog.id %}">
                                    <b>Правка</b>
                                </a>
                            {% endif %}
                        </li>
                    {% empty %}
                        <p>{{ no_data }}</p>
                    {% endfor %}
                </ul>
                {% pagination_for object_list %}
            </div>
        </div>
    </div>
{% endblock %}
