{% extends "base.html" %}
{% load i18n %}
{% block meta_title %}Правка комментария{% endblock %}
{% block title %}Правка комментария{% endblock %}

{% block main %}
    {% load comments comments_extension %}
    {% get_comment_edit_form for comment as form %}
    <form class="sky-form" action="{% comment_edit_form_target comment %}" method="post">
        {% csrf_token %}
        {% if next %}
            <div>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        {% endif %}
        <div class="comment-body bb">
            <div class="comment-entry">
                {{ comment.comment }}
            </div>
        </div>
        {% for field in form %}
            {% if field.is_hidden %}
                <div>{{ field }}</div>
            {% else %}
                <div class="form-group">
                    <label class="label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <p class="submit">
            <input type="submit" name="submit" class="btn btn-base btn-icon btn-send" value="{% trans "Save" %}" />
            <input type="submit" name="preview" class="btn btn-base btn-icon btn-send" value="{% trans "Preview" %}" />
        </p>
      </form>
{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}