{% extends "comments/edit.html" %}
{% load i18n %}

{% block main %}
    {% load comments_extension %}
    <form class="sky-form" action="{% comment_edit_form_target comment_obj %}" method="post">{% csrf_token %}
        {% if next %}
            <div>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        {% endif %}
        <div class="comment-body bb">
            <div class="comment-entry">
                {{ comment }}
            </div>
        </div>
        {% for field in form %}
            {% if field.is_hidden %}
                <div>{{ field }}</div>
            {% else %}
                <div class="form-group {% if field.errors %} has-error{% endif %}">
                    <label class="label">
                        {{ field.label_tag }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="help-block">
                            {% for e in field.errors %}
                                {% if not forloop.first %} / {% endif %}{{ e }}
                            {% endfor %}
                        </p>
                    {% elif field.help_text %}
                        <p class="help-block">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <p class="submit">
            <input type="submit" name="submit" class="btn btn-base btn-icon btn-send" value="{% trans "Save" %}" />
            <input type="submit" name="preview" class="btn btn-base btn-icon btn-send" value="{% trans "Preview" %}" />
        </p>
    </form>
{% endblock %}