{% load i18n mezzanine_tags comment_tags %}
<!-- Add comment section -->

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
    {% include "generic/includes/disqus_comments.html" %}
{% else %}
    <script>
        jQuery(function($) {
            $('.reply').click(function() {
                $('.comment-reply-form').hide();
                $(this).siblings('.comment-reply-form').toggle();
            });
        });
    </script>
    <style>.input_id_honeypot {display:none !important;}</style>
    {% comment_thread object_for_comments %}
    <div class="section-title-wr" id="divAddComment">
        <h3 class="section-title left"><span>{% trans "New Comment" %}</span></h3>
    </div>
    <form class="form-light" method="post" id="comment" action="{{ comment_url }}#comment">
        {% if replied_to == comment.id %}
            {% csrf_token %}
            {% for hidden in posted_comment_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <input type="hidden" id="id_name" maxlength="50" name="name" type="text" value="{{ user.username }}" />
            <input type="hidden" id="id_email" name="email" type="email" value="{{ user.email }}" />
            <input type="hidden" id="id_url" name="url" type="url" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Ваш комментарий" rows="5" id="id_comment" name="comment"></textarea>
                    </div>
                </div>
            </div>
        {% else %}
            {% csrf_token %}
            {% for hidden in unposted_comment_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <input type="hidden" id="id_name" maxlength="50" name="name" type="text" value="{{ user.username }}" />
            <input type="hidden" id="id_email" name="email" type="email" value="{{ user.email }}" />
            <input type="hidden" id="id_url" name="url" type="url" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Write your comment here" rows="5" id="id_comment" name="comment"></textarea>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <input type="hidden" name="replied_to" value="{{ comment.id }}">
                <input class="btn btn-base btn-icon btn-send pull-right" type="submit" value="{% trans "Reply" %}">
            </div>
        </div>
    </form>
{% endif %}