{% extends "base.html" %}
{% load staticfiles jfutags i18n mezzanine_tags %}
{% block meta_title %}
    {{ title }}
{% endblock %}
{% block extra_css %}
    {% include "jfu/upload_form_css.html" %}
{% endblock %}
{% block extra_js %}
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    <div class="post-item">
        {% block preview_featured_image %}
        {% endblock %}
        <div class="post-content">
            <h2 class="post-title" id="post-title">
                {% if form.title.value %}
                    {{ form.title.value }}
                {% endif %}
            </h2>
            <span class="post-author">{% trans "Posted by" %}:
                <a href="#" hidefocus="true" style="outline: none;">
                    {{ user.username }}
                </a>
            </span>
            <div class="post-desc" id="post-desc">
                {% if form.content.value %}
                    {{ form.content.value|richtext_filters|safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <hr />
    <div class="wp-block default user-form">
        <div class="form-header">
            <h2>Форма создание новой записи</h2>
        </div>
        <div class="form-body">
            <form action="" class="sky-form" method="post" enctype="multipart/form-data">
                {% nevercache %}
                    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                    {% csrf_token %}
                {% endnevercache %}
                <fieldset class="no-padding">
                    <section>
                        {% for field in form %}
                            {% if field.is_hidden %}
                                <div>{{ field }}</div>
                            {% else %}
                                <div class="form-group {% if field.errors %} has-error{% endif %}">
                                    <label class="label">{{ field.label_tag }}</label>
                                    <label class="input">
                                        {{ field }}
                                    </label>
                                    {% if field.errors %}
                                        <p class="help-block">
                                            {% for e in field.errors %}
                                                {% if not forloop.first %} / {% endif %}{{ e }}
                                            {% endfor %}
                                        </p>
                                    {% elif field.help_text %}
                                        <p class="help-block">{{ field.help_text }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </section>
                    <section>
                        <button class="btn btn-base btn-icon btn-icon-right btn-icon-go pull-right" type="submit">
                            <span>Сохранить</span>
                        </button>
                    </section>
                </fieldset>
            </form>
        </div>
        <div class="form-footer">
            <p></p>
        </div>
    </div>
    {% comment %}
        Script for keywords
    {% endcomment %}
    <script type="text/javascript" src="/static/mezzanine/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        jQuery(function($) {
            // Add click functionality to each keyword so that it toggles
            // the keyword's existance in the associated input box.
            $('.keywords-field a').click(function() {
                var field = $(this).parent().prev('input[type=text]');

                try {
                    var keywords = $.map(field.attr('value').split(','), function(keyword) {
                        return $.trim(keyword);
                    });
                }
                catch(err) {
                    var keywords = $.map([], function(keyword) {
                        return $.trim(keyword);
                    });
                }
                var keywords = $.grep(keywords, function(keyword) {
                    return keyword.length > 0;
                });
                var op, keyword = $(this).text().substr(1);
                if ($.inArray(keyword, keywords) >= 0) {
                    keywords = $.grep(keywords, function(keep) {
                        return keep != keyword;
                    });
                    op = '+';
                } else {
                    keywords[keywords.length] = keyword;
                    op = '-';
                }
                field.attr('value', keywords.join(', '))
                $(this).text(op + keyword);
                return false;
            });
        });
    </script>
    {% comment %}
        Script for keywords
    {% endcomment %}
    <script>
        var wrappable = [];
        CKEDITOR.replace( 'id_content', {
            language: 'ru',
            on: {
                instanceReady: function() {
                    this.on( 'toDataFormat', function( evt ) {
                        var el, wrap;

                        while ( ( el = wrappable.pop() ) ) {
                            wrap = el.parent;
                            // Abort if already wrapped...
                            if ( wrap && wrap.type == CKEDITOR.NODE_ELEMENT && wrap.attributes[ 'class' ] == 'content-image' )
                                return wrap;
                            // Wrap el...
                            wrap = new CKEDITOR.htmlParser.element( 'div', { 'class': 'content-image' } );
                            el.replaceWith( wrap );
                            wrap.add( el );
                        }
                    }, null, null, 11);

                    this.dataProcessor.htmlFilter.addRules( {
                        elements: {
                            img: function( element ) {
                                // Drop height and width attrs for img
                                var style = element.attributes.style;
                                if (style) {
                                    // Get the width from the style.
                                    var match = /(?:^|\s)width\s*:\s*(\d+)px/i.exec(style),
                                    width = match && match[1];

                                    // Get the height from the style.
                                    match = /(?:^|\s)height\s*:\s*(\d+)px/i.exec(style);
                                    var height = match && match[1];

                                    if (width) {
                                        element.attributes.style = element.attributes.style.replace(/(?:^|\s)width\s*:\s*(\d+)px;?/i, '');
                                        //element.attributes.width = width;
                                    }
                                    if (height) {
                                        element.attributes.style = element.attributes.style.replace(/(?:^|\s)height\s*:\s*(\d+)px;?/i, '');
                                        //element.attributes.height = height;
                                    }
                                }
                                wrappable.push( element );

                            },
                            ul: function( element ) {
                                // Add some class.
                                element.addClass( 'ul-default' );
                            },
                            ol: function( element ) {
                                // Add some class.
                                element.addClass( 'ol-default' );
                            }
                        }
                    });
                }
            }
        });

        CKEDITOR.config.allowedContent = true;

        var editor = CKEDITOR.instances.id_content; //reference to instance
        // on `key` event
        editor.on('key', function(){
            var data = editor.getData(); //reference to ckeditor data
            $('#post-desc').html(data); //update `div` html
        });
        var wptitle = document.getElementById('id_title');
        wptitle.onkeyup = wptitle.onkeypress = function(){
            document.getElementById('post-title').innerHTML = this.value;
        };
        var wpimage = document.getElementById('id_featured_image');
        wpimage.onkeyup = wpimage.onkeypress = function(){
            document.getElementById('post-image').src = this.value;
        };
        var fimage = document.getElementById("id_featured_image");
        if (fimage.value.length > 0 && fimage.value.indexOf('/static/media/') === -1) {
            fimage.value = "/static/media/"+fimage.value;};
    </script>
    <div class="wp-block default user-form">
        <div class="form-header">
            <h2>Интерфейс работы с изображениями</h2>
        </div>
    </div>
    {% jfu %}
    <script>
        // AJAX for posting
        function create_post(id) {
            console.log("create post is working!") // sanity check
            $.ajax({
                url : '/blog/delete/'+id, // the endpoint
                type : "POST", // http method
                data: {
                    csrfmiddlewaretoken: {% nevercache %}'{{ csrf_token }}'{% endnevercache %}
                },

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                    $('#delete-btn-'+id).attr('disabled','disabled');
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };
    </script>
    <table class="table table-striped" role="presentation">
        <thead>
            <th>
                <td colspan="3"><b>Ранее загруженные изображения</b></td>
            </th>
        </thead>
        <tbody class="files">
            {% for image in images %}
                <tr class="template-download">
                    <td>
                        <span class="preview">
                            <img src={{ MEDIA_URL }}{{ image.image }} width=300>
                        </span>
                    </td>
                    <td>
                        <p class="name">
                            <b>Вставьте эту ссылку там где хотите видеть свою картинку:</b>
                            <br/>
                            <span class="text-info">
                                {{ image.image.url }}
                            </span>
                        </p>
                    </td>
                    <td>
                        <form id="image-delete-{{ image.id }}">
                            {% nevercache %}
                                {% csrf_token %}
                            {% endnevercache %}
                            <input type="submit" name="delete" class="btn btn-danger delete" id="delete-btn-{{ image.id }}" value="Удалить">
                        </form>
                        <script>
                            $('#image-delete-{{ image.id }}').on('submit', function(event){
                                event.preventDefault();
                                console.log("form submitted!")  // sanity check
                                create_post({{ image.id }});
                            });
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}
{% block extra_footer_js %}
    {% include 'jfu/upload_form_js.html' %}
    <script>
        $( function() {
            'use strict';
            var formData = $('#fileupload').serializeArray();
            formData.push(
                    { name: "csrfmiddlewaretoken", value: {% nevercache %}"{{ csrf_token }}"{% endnevercache %} }
            );
            jQuery('#fileupload').fileupload({
                formData: formData,
                sequentialUploads: true,
                disableImageResize: false,
                imageMaxWidth: 848,
                imageMaxHeight: 636
            });
        });
    </script>
{% endblock %}